@model Container

@{
    ViewData["Title"] = "Container Details";
}

<h1>Container Details</h1>

<div>
    <h4>Container</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Container Number</dt>
        <dd class="col-sm-10">@Model.Numero</dd>

        <dt class="col-sm-2">Container Type</dt>
        <dd class="col-sm-10">@Model.ContainerType</dd>

        <dt class="col-sm-2">Container Size</dt>
        <dd class="col-sm-10">@Model.ContainerSize</dd>

        <dt class="col-sm-2">BL Number</dt>
        <dd class="col-sm-10">@Model.Bl?.Numero</dd>
    </dl>
</div>

<div class="display-flex">
    <a asp-action="Edit" asp-route-id="@Model.IdContainer" class="btn btn-warning">Edit</a> 
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
